header.headerList{
    margin: 40px  40px;
    padding: 40px;
    background-color: #7228c6;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1{
        text-align: center;

    }

}



