header.headerList{
    margin: 40px 40px 0px;
    padding: 40px;
    background-color: #6820ac;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1{
        text-align: center;
        color: ;
    }

}



